.table-container{
    background-color: #fff;
    border-color: 1px rgb(41, 39, 39);
    box-shadow: 2mm;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.header-table tr {
   background: #31373d; 
}

.header-table tr th{
    color: #fff;
}